button {
  font-size: 6rem;
  border-radius: 100%;
  padding: 2rem;
  border: 0.5rem solid black;
  background-color: hsl(240, 100%, 30%);
  box-shadow: 0.5rem 0.5rem 1rem hsl(240, 100%, 30%);
}
button:hover {
  cursor: pointer;
  background-color: hsl(240, 100%, 50%);
  font-size: 8rem;
  border: 0.5rem solid hsl(0, 0%, 14%);
  padding: 1rem;
  box-shadow: none;
}

#options-container {
  min-width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 850px) {
  button {
    font-size: 2rem;
  }
  button:hover {
    font-size: 4rem;
  }
}
