button {
  font-size: 8rem;
  border-radius: 100%;
  padding: 2.5rem;
  border: 0.9rem solid hsl(0, 0%, 0%);
  background-color: hsl(240, 100%, 30%);
  box-shadow: 0.5rem 0.5rem 1rem hsl(240, 100%, 30%);
}
button:hover {
  cursor: pointer;
  background-color: hsl(240, 100%, 50%);
  font-size: 9rem;
  padding: 2rem;
  border-color: hsl(0, 0%, 14%);
  box-shadow: none;
}

#options-container {
  min-width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 850px) {
  button {
    font-size: 5rem;
    padding: 2rem;
    border: 0.6rem solid hsl(0, 0%, 0%);
  }
  button:hover {
    font-size: 6rem;
    padding: 1.5rem;
    border-color: hsl(0, 0%, 14%);
  }
}

@media (max-width: 600px) {
  button {
    font-size: 3rem;
    padding: 1.5rem;
    border: 0.3rem solid black;
  }
  button:hover {
    font-size: 4rem;
    padding: 1rem;
    border-color: hsl(0, 0%, 14%);
  }
}
